$gradient-orange : hsl(13, 100%, 72%);
$gradient-red : hsl(353, 100%, 62%);
$gradient-gray-blue: hsl(237, 17%, 21%);
$gradient-desaturated-blue: hsl(237, 23%, 32%);
$highlight-red:hsl(355, 100%, 74%);
$text-red: hsl(356, 100%, 66%);
$heading-dark-blue: hsl(208, 49%, 24%);
$body-blue: hsl(207, 13%, 34%);
$footer-background: hsl(240, 10%, 16%);
$footer-text: hsl(240, 2%, 79%);